<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>directive</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <!--v-bind-->
        <!-- <input type="text" v-bind:value="message"> -->

        <!--v-if-->
        <!--<p v-if="toggle">HELLO</p>-->

        <!-- v-for -->
        <!-- <ol>
            <li v-for="color in colors">{{ color }}</li>
        </ol> -->

        <!-- v-on -->
        <!-- <button v-on:click="onClick">Click</button>
        <p>{{ now }}</p> -->

        <!-- v-model -->
        <p><input type="text" v-model="message"></p>
        <p><input type="text" v-model="message"></p>
        <pre>{{ $data }}</pre>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>