<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>watch_pra</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <p><input type="text" v-model="lastName"></p>
        <p><input type="text" v-model="firstName"></p>

        <p>{{ lastName + ' ' + firstName }}</p>
        <p>{{ maNa }}</p>
        <p>{{ name }}</p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>