<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <!-- v-if,v-else -->
        <!-- <p v-if="toggle">Yes</p>
        <p v-else="toggle">No</p> -->

        <!-- v-else-if -->
        <!-- <p v-if="color === 'red'">danger</p>
        <p v-else-if="color === 'yellow'">caution</p>
        <p v-else>other</p> -->

        <!-- v-show -->
        <p v-show="show">Hello</p>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>